* {
  margin: 0;
  font-family: "work sans";
}
.container {
  width: 60%;
  padding-right: 20%;
  padding-left: 20%;
  margin: auto;
}
header {
  min-height: 100vh;
  background-image: url("../assets/images/banner3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: right;
}
.banner-area {
  color: white;
  width: 50%;
}
.banner-heading-text {
  font-size: 65px;
  font-weight: 700;
}
.normal-para {
  font-size: 16px;
  font-weight: 300;
}
.banner-area-contents {
  text-align: right;
}
.text-gap{
  margin: 20px 0;
}
.primary-button {
  padding: 20px 35px;
  border: none;
  border-radius: 5px;
  color: rgb(28, 134, 227);
  font-size: 20px;
}
.bold {
  font-weight: bold;
}
.previous-year-failure {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.previous-year-failure-contents {
  width: 60%;
  padding-right: 20%;
  padding-left: 20%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.previous-year-texts h2 {
  font-size: 40px;
  font-weight: 700;

}
.previous-year-failure-contents img {
  display: block;
}
.flex-gap {
  content: ' ';
  margin: 0 80px;
}
.failure-list ul {
  list-style: none;
  padding-left: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
}
.failure-list ul li span{
  color: green;
}

.section-gap {
  margin: 150px 0 50px;
}
.my-plan-heading {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 100px;
}
.showcase {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.showcase h3 {
  margin: 30px 0;
  font-weight: 700;
  font-size: 30px;
}
.showcase p {
  font-size: 25px;
  font-weight: 500;
  color: #737272;
}
.contact-section-gap {
  margin: 300px 0;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.img1{
  position: absolute;
}
.img2{
  position: relative;
  left: 380px
}
.overlay-contents {
  position: relative;
  right: 700px;
  bottom: 20px;
  color: white;
  font-size: 40px;
}
footer {
  background-color: #151414;
  color: white;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 50px 20%;
}
.left {
  width: 40%;
  justify-content: end !important;
}
.right {
  width: 40%;
}
footer h1 {
  font-size: 45px;
}
footer h3 {
  font-size: 25px;
}
footer img {
  padding-right: 10px;
}
footer input[type = email]{
  display: block;
  padding: 25px 50px;
  background-color: #151414;
  border: 1px solid gray;
  border-radius: 10px;
}

.sub-button {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding: 20px 35px;
  background-color: #005FAC;
  border: none;
  border-radius: 5px;
}
button, input[type = button] {
  cursor: pointer;
}